.card-header,
.card-title {
    position: relative;
}

.card-header {
    padding: 0 1.25rem;
}

.card-title {
    padding: .75rem 0;
}

.card-header::after,
.card-title::after {
    content: '';
    height: 1px;
    position: absolute;
    top: 100%;
}

.card-header::after {
    background-color: #dee2e6;
    left: 20px;
    right: 20px;
}

.card-title::after {
    width: 100%;
    background-color: #007bff;
    left: 0;
    z-index: 1;
}

.card-title.text-danger::after {
    background-color: #dc3545;
}
